<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServLogin</servlet-name>
        <servlet-class>FYPManagementSystem.ServLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServMenu</servlet-name>
        <servlet-class>FYPManagementSystem.ServMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServMessage</servlet-name>
        <servlet-class>FYPManagementSystem.ServMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServRegister</servlet-name>
        <servlet-class>FYPManagementSystem.ServRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServStudEditProfile</servlet-name>
        <servlet-class>FYPManagementSystem.ServStudEditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLecEditProfile</servlet-name>
        <servlet-class>FYPManagementSystem.ServLecEditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLecExpertise</servlet-name>
        <servlet-class>FYPManagementSystem.ServLecExpertise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLecExpertiseEdit</servlet-name>
        <servlet-class>FYPManagementSystem.ServLecExpertiseEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServStudSelectSV</servlet-name>
        <servlet-class>FYPManagementSystem.ServStudSelectSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLecStudAcceptance</servlet-name>
        <servlet-class>FYPManagementSystem.ServLecStudAcceptance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServStudTitleSuggestion</servlet-name>
        <servlet-class>FYPManagementSystem.ServStudTitleSuggestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLecViewStud</servlet-name>
        <servlet-class>FYPManagementSystem.ServLecViewStud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAdRegisterLec</servlet-name>
        <servlet-class>FYPManagementSystem.ServAdRegisterLec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAdView</servlet-name>
        <servlet-class>FYPManagementSystem.ServAdView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAdAnnouncement</servlet-name>
        <servlet-class>FYPManagementSystem.ServAdAnnouncement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServSearch</servlet-name>
        <servlet-class>FYPManagementSystem.ServSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchB</servlet-name>
        <servlet-class>FYPManagementSys_Bean.SearchB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudAppEng</servlet-name>
        <servlet-class>StudAppEng</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServStudAppEng</servlet-name>
        <servlet-class>FYPManagementSystem.ServStudAppEng</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLecSTudEngApp</servlet-name>
        <servlet-class>FYPManagementSystem.ServLecSTudEngApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAdViewStudApp</servlet-name>
        <servlet-class>FYPManagementSystem.ServAdViewStudApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAdQuotaLec</servlet-name>
        <servlet-class>FYPManagementSystem.ServAdQuotaLec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAdAsgEvT</servlet-name>
        <servlet-class>FYPManagementSystem.ServAdAsgEvT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLecTimeTable</servlet-name>
        <servlet-class>FYPManagementSystem.ServLecTimeTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>FYPManagementSystem.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAdDemoRoom</servlet-name>
        <servlet-class>FYPManagementSystem.ServAdDemoRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAdGenerateTTable</servlet-name>
        <servlet-class>FYPManagementSystem.ServAdGenerateTTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAdAssignEvaluator</servlet-name>
        <servlet-class>FYPManagementSystem.ServAdAssignEvaluator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLecEvaluation</servlet-name>
        <servlet-class>FYPManagementSystem.ServLecEvaluation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLecEvaluation_Chairman</servlet-name>
        <servlet-class>FYPManagementSystem.ServLecEvaluation_Chairman</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLecSvPSM</servlet-name>
        <servlet-class>FYPManagementSystem.ServLecSvPSM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAdStudResult</servlet-name>
        <servlet-class>FYPManagementSystem.ServAdStudResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAdSelectEv</servlet-name>
        <servlet-class>FYPManagementSystem.ServAdSelectEv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAdSelectEv_psm2</servlet-name>
        <servlet-class>FYPManagementSystem.ServAdSelectEv_psm2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAdAssignEvaluator_psm2</servlet-name>
        <servlet-class>FYPManagementSystem.ServAdAssignEvaluator_psm2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLecSelectEv</servlet-name>
        <servlet-class>FYPManagementSystem.ServLecSelectEv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAdAssignEvaluatorTest</servlet-name>
        <servlet-class>FYPManagementSystem.ServAdAssignEvaluatorTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>FYPManagementSystem.FileUploadHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdEvalScheme</servlet-name>
        <servlet-class>FYPManagementSystem.AdEvalScheme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAdEvalScheme</servlet-name>
        <servlet-class>FYPManagementSystem.ServAdEvalScheme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdDepartment</servlet-name>
        <servlet-class>FYPManagementSystem.AdDepartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAdDepartment</servlet-name>
        <servlet-class>FYPManagementSystem.ServAdDepartment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServLogin</servlet-name>
        <url-pattern>/ServLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServMenu</servlet-name>
        <url-pattern>/ServMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServMessage</servlet-name>
        <url-pattern>/ServMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServRegister</servlet-name>
        <url-pattern>/ServRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServStudEditProfile</servlet-name>
        <url-pattern>/ServStudEditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLecEditProfile</servlet-name>
        <url-pattern>/ServLecEditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLecExpertise</servlet-name>
        <url-pattern>/ServLecExpertise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLecExpertiseEdit</servlet-name>
        <url-pattern>/ServLecExpertiseEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServStudSelectSV</servlet-name>
        <url-pattern>/ServStudSelectSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLecStudAcceptance</servlet-name>
        <url-pattern>/ServLecStudAcceptance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServStudTitleSuggestion</servlet-name>
        <url-pattern>/ServStudTitleSuggestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLecViewStud</servlet-name>
        <url-pattern>/ServLecViewStud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAdRegisterLec</servlet-name>
        <url-pattern>/ServAdRegisterLec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAdView</servlet-name>
        <url-pattern>/ServAdView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAdAnnouncement</servlet-name>
        <url-pattern>/ServAdAnnouncement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServSearch</servlet-name>
        <url-pattern>/ServSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchB</servlet-name>
        <url-pattern>/SearchB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudAppEng</servlet-name>
        <url-pattern>/StudAppEng</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServStudAppEng</servlet-name>
        <url-pattern>/ServStudAppEng</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLecSTudEngApp</servlet-name>
        <url-pattern>/ServLecSTudEngApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAdViewStudApp</servlet-name>
        <url-pattern>/ServAdViewStudApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAdQuotaLec</servlet-name>
        <url-pattern>/ServAdQuotaLec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAdAsgEvT</servlet-name>
        <url-pattern>/ServAdAsgEvT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLecTimeTable</servlet-name>
        <url-pattern>/ServLecTimeTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAdDemoRoom</servlet-name>
        <url-pattern>/ServAdDemoRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAdGenerateTTable</servlet-name>
        <url-pattern>/ServAdGenerateTTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAdAssignEvaluator</servlet-name>
        <url-pattern>/ServAdAssignEvaluator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLecEvaluation</servlet-name>
        <url-pattern>/ServLecEvaluation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLecEvaluation_Chairman</servlet-name>
        <url-pattern>/ServLecEvaluation_Chairman</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLecSvPSM</servlet-name>
        <url-pattern>/ServLecSvPSM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAdStudResult</servlet-name>
        <url-pattern>/ServAdStudResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAdSelectEv</servlet-name>
        <url-pattern>/ServAdSelectEv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAdSelectEv_psm2</servlet-name>
        <url-pattern>/ServAdSelectEv_psm2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAdAssignEvaluator_psm2</servlet-name>
        <url-pattern>/ServAdAssignEvaluator_psm2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLecSelectEv</servlet-name>
        <url-pattern>/ServLecSelectEv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAdAssignEvaluatorTest</servlet-name>
        <url-pattern>/ServAdAssignEvaluatorTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/FileUploadHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdEvalScheme</servlet-name>
        <url-pattern>/AdEvalScheme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAdEvalScheme</servlet-name>
        <url-pattern>/ServAdEvalScheme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdDepartment</servlet-name>
        <url-pattern>/AdDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAdDepartment</servlet-name>
        <url-pattern>/ServAdDepartment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/WEB-INF/Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
